<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form2.html</title>
</head>
<body>
<form action="results" method="POST">
    <fieldset>
        <select id = "myColors">
            <option  name = "color[]" value = "Red">red</option>
            <option name = "color[]" value = "Green">green</option>
            <option name = "color[]" value = "Blue">blue</option>
        </select>
    </fieldset>

    <input type="submit" value="Submit">
</form>
</body>
</html>